* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}

#container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

img {
  transform: rotate(180deg);
  width: 512px;
  height: 512px;
}

#lightbulb:hover {
  cursor: pointer;
}

.active {
  background: rgb(247, 247, 235);
  background: radial-gradient(
    circle,
    rgba(247, 247, 235, 1) 0%,
    rgba(252, 235, 133, 1) 64%,
    rgba(0, 212, 255, 1) 100%
  );
}
